body {
	background-image: url("/assets/images/b_bkgrd.png");
}
.my__img-container{
  display: flex !important;
  .my__img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 200px 200px;
  }
}
