<div class="t-copy m-bio">
	<img src="/content/images/JH_logo.png" alt="" class="bio__img">
	<p class="bio__content">My name is Jason and I like making things. For many years now I have always found release in creating things, learning new things and seeing what things do and how they work. I have Dj'ed in the rave scene, produced music, tried various schools and even ran two half marathons in 2013. (woo!) I am currently working as Web Developer in Columbus, Indiana and attending school for Software Development. I love my wife, my INCREDIBLE son, my two dogs and great beer!</p>
</div>
