---
layout: portfolio
title: stuff
---
<!-- the standard loop for all your posts -->
{% for post in site.posts %}
 
    <!-- check if there is a portfolio thing set inside the Front Matter 
        Note: Do not set "portfolio: false" on normal posts - this is not needed
        and could lead to problems
    -->
    {% if post.portfolio %}
        <!-- do nothing here -->
    {% endif %}
    
    <!-- then display all the normal posts -->
<article class="post">
    <h2>{{ post.title }}</h2>
    {{ post.excerpt }}
</article>
{% endfor %}