{% for post in site.posts %}
<!-- again we loop through the posts, because technically the Portfolio Stuff is a post -->
 
  <!-- this time we only want posts where portfolio is true (or set at all) --> 
  {% if post.portfolio %}
    <article class="portfolio--article">
      <!-- the title-->
        <h2>{{ post.title }}</h2>
      
        <!-- the content -->
      <p>{{ post.content }}</p>
    </article>
  {% endif%} <!-- end of every post that has portfolio: true -->
 
{% endfor %} <!-- end of the loop -->