// site variables

// use blank string in array so we get prefix-free as final result
$prefixes : -webkit-, -moz-, -o-, "";

$textColor : #1b1a1a;
$bodyFontSize : 13px;

// theme
$lightbg : #DFE8E7;
$lightbg--dark : darken($lightbg, 10%);
$lightbg--light : lighten($lightbg, 10%);

$grey : #EDEDED;
$grey--light : lighten($grey, 10%);

$green : #9BB4B8;
$green--light : lighten($green, 10%);
$green--dark : darken($green, 10%);

$brown : #3D2B15 ;
$brown--dark : darken($brown, 10%);

$linkcolor__one : darken($lightbg, 20%);




//----------------------------------------------------------------------------

$grid__length : 320px;

$gutter: 16px;
$gutter--desktop: $gutter * 2;

// type
$font__hand : "Architects Daughter", cursive;
$font__sans : "Noto Sans", Verdana, serif;
$font__serif : "Bree Serif", Georgia, serif;


$sprite : "/giraffe/images/sprites.png";
$noise : "/giraffe/images/noise.png";