// site variables

// use blank string in array so we get prefix-free as final result
$prefixes : -webkit-, -moz-, -o-, "";

$textColor : #1b1a1a;
$bodyFontSize : 13px;

// theme
$lightbg : #DFE8E7;

$grey : #EDEDED;
$grey--light : lighten($grey, 10%);

$red : #719E83;
$red--light : lighten($red, 10%);
$red--dark : darken($red, 10%);

$brown : #3D2B15 ;
$brown--dark : darken($brown, 10%);




//----------------------------------------------------------------------------

$grid__length : 320px;

$gutter: 16px;
$gutter--desktop: $gutter * 2;

// type
$font__hand : "Architects Daughter", cursive;
$font__sans : "Noto Sans", Verdana, serif;
$font__serif : "Bree Serif", Georgia, serif;


$sprite : "/giraffe/images/sprites.png";
$noise : "/giraffe/images/noise.png";