// site variables

// use blank string in array so we get prefix-free as final result
$prefixes : -webkit-, -moz-, -o-, "";

$textColor : #1b1a1a;
$bodyFontSize : 13px;

// theme
$blue : #677E87;
$blue--light : lighten($blue, 10%);
// 737e8c

$red : #719E83;
$red--light : lighten($red, 10%);
$red--dark : darken($red, 10%);

$giraffe__yellow : complement($red) ;
$giraffe__yellow--dark : darken($giraffe__yellow, 10%);




//----------------------------------------------------------------------------

$grid__length : 320px;

$gutter: 16px;
$gutter--desktop: $gutter * 2;

// type
$font__hand : "Architects Daughter", cursive;
$font__sans : "Noto Sans", Verdana, serif;
$font__serif : "Bree Serif", Georgia, serif;


$sprite : "/giraffe/images/sprites.png";
$noise : "/giraffe/images/noise.png";